extends ../layout

block content
	h3.page-header User
	div.container-fluid.action-wrap
		div.row
			a(href="create").btn.btn-default Create
	table.table
		tr
			th xx
			th xx
			th xx
			th xx
		tr
			td yy
			td yy
			td yy
			td yy
