doctype html
html(ng-app='backend')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/admin/style.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					a(href="").navbar-brand Project Name & LOGO
			navbar#navbar.navbar-collapse.collapse
		div.container-fluid
			div.row
				div.col-sm-3.col-md-2.sidebar
					ul.nav.nav-sidebar
						li
							a(href="#") Overview
						li
							a(href="#") Overview
					ul.nav.nav-sidebar
						li.active
							a(href="/backend/adminusers/") Admin User
				div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main.ng-view
					block content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
		script(src='/javascripts/comm.js')
		block javascript
